@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
    --primary: 217 249 157;
    --primary-foreground: 51 51 51;
  }
}

h2 {
  @apply text-3xl;
  @apply font-bold;
}

h3 {
  @apply text-2xl;
  @apply font-bold;
}
